.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
}

.convicted {
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.notConvicted {
  background-color: lightgreen;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.empty {
  color: red;
  font-weight: bold;
}